<%= form_with(model: credit_card_statement, multipart: true) do |form| %>
  <% if credit_card_statement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(credit_card_statement.errors.count, "error") %> prohibited this credit_card_statement from being saved:</h2>

      <ul>
        <% credit_card_statement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.file_field :content_file %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
