<p id="notice"><%= notice %></p>

<h1>Credit Card Statements</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Year</th>
      <th>Month</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @credit_card_statements.each do |credit_card_statement| %>
      <tr>
        <td><%= credit_card_statement.content %></td>
        <td><%= credit_card_statement.year %></td>
        <td><%= credit_card_statement.month %></td>
        <td><%= link_to 'Show', credit_card_statement %></td>
        <td><%= link_to 'Edit', edit_credit_card_statement_path(credit_card_statement) %></td>
        <td><%= link_to 'Destroy', credit_card_statement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Credit Card Statement', new_credit_card_statement_path %>
