<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @credit_card_statement.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @credit_card_statement.month %>
</p>

<p><strong>Content:</strong></p>
<table>
  <thead>
    <tr>
      <% @credit_card_statement.csv_content.headers.each do |header| %>
        <th><%= header.capitalize %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @credit_card_statement.csv_content.each do |row| %>
      <tr>
        <% row.each do |value| %>
          <td><%= value %></th>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_credit_card_statement_path(@credit_card_statement) %> |
<%= link_to 'Back', credit_card_statements_path %>
