<%= form_with(model: transaction) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :credit_card_statement_id %>
    <%= form.text_field :credit_card_statement_id, readonly: true, disabled: true %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, readonly: true, disabled: true %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, readonly: true, disabled: true %>
  </div>

  <div class="field">
    <%= form.label :debit %>
    <%= form.text_field :debit, readonly: true, disabled: true %>
  </div>

  <div class="field">
    <%= form.label :credit %>
    <%= form.text_field :credit, readonly: true, disabled: true %>
  </div>

  <div class="field">
    <%= form.label :balance %>
    <%= form.text_field :balance, readonly: true, disabled: true %>
  </div>

  <div class="field">
    <%= form.label :vendor_id %>
    <%= form.collection_select :vendor_id, Vendor.order(:name), :id, :name, include_blank: true %>
    <%= link_to "➕", new_vendor_path %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
