<tr>
  <td><%= transaction.date %></td>
  <td><span title="<%= transaction.description %>"><%= transaction.vendor_name || transaction.description %></span></td>
  <td style="text-align:right"><%= number_to_currency(transaction.debit) %></td>
  <td style="text-align:right"><%= number_to_currency(transaction.credit) %></td>
  <td style="text-align:right"><%= number_to_currency(transaction.balance) %></td>
  <td><%= link_to 'Show', transaction %></td>
</tr>