<tr>
  <td><%= transaction.date %></td>
  <td><%= transaction.description %></td>
  <td style="text-align:right"><%= number_to_currency(transaction.debit) %></td>
  <td style="text-align:right"><%= number_to_currency(transaction.credit) %></td>
  <td style="text-align:right"><%= number_to_currency(transaction.balance) %></td>
  <td><%= link_to 'Show', transaction %></td>
  <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
  <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>