<tr>
  <td><%= transaction.date %></td>
  <td>
    <% if transaction.vendor_name %>
      <%= link_to transaction.vendor do %>
        <span title="<%= transaction.description %>"><%= transaction.vendor_name %></span>
      <% end %>
    <% else %>
      <%= transaction.description %>
    <% end %>
  </td>
  <td style="text-align:right"><%= number_to_currency(transaction.debit) %></td>
  <td style="text-align:right"><%= number_to_currency(transaction.credit) %></td>
  <td style="text-align:right"><%= number_to_currency(transaction.balance) %></td>
  <td><%= link_to 'Show', transaction %></td>
  <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
</tr>