<p id="notice"><%= notice %></p>

<p>
  <strong>Credit card statement:</strong>
  <%= link_to @transaction.credit_card_statement_id, @transaction.credit_card_statement %>
</p>

<p>
  <strong>Date:</strong>
  <%= @transaction.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @transaction.description %>
</p>

<p>
  <strong>Debit:</strong>
  <%= @transaction.debit %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @transaction.credit %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @transaction.balance %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
