<svg version="1.2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="graph" aria-labelledby="title" role="img" height="<%= @chart.height %>" width="<%= @chart.width %>">
  <g class="grid x-grid" id="xGrid">
    <line
      x1="<%= @chart.horizontal_line.x1 %>"
      x2="<%= @chart.horizontal_line.x2 %>"
      y1="<%= @chart.horizontal_line.y1 %>"
      y2="<%= @chart.horizontal_line.y2 %>"
      stroke="<%= @chart.horizontal_line.colour %>"
    ></line>
  </g>
  <g class="grid y-grid" id="yGrid">
    <line
      x1="<%= @chart.vertical_line.x1 %>"
      x2="<%= @chart.vertical_line.x2 %>"
      y1="<%= @chart.vertical_line.y1 %>"
      y2="<%= @chart.vertical_line.y2 %>"
      stroke="<%= @chart.vertical_line.colour %>"
    ></line>
  </g>
  <g class="labels x-labels">
    <%= @chart.date_range.each do |date| %>
      <text x="<%= 75 + date.day * 20 %>" y="<%= @chart.height %>"><%= date.day %></text>
    <% end %>
  </g>
  <g class="labels y-labels">
    <text x="0" y="<%= @chart.height - @chart.padding %>">$0</text>
    <%= (1..3).map do |x| %>
      <text
        x="0"
        y="<%= @chart.height - (x * @chart.plot_height / 3) - @chart.padding %>"
      ><%= number_to_currency(x * @chart.max / 3) %></text>
    <% end %>
  </g>
  <svg class="plot" x="<%= @chart.padding %>" y="<%= @chart.padding %>" width="<%= @chart.plot_width %>" height="<%= @chart.plot_height %>">
    <g class="data" data-setname="Our first data set">
      <%= @chart.points.each do |point| %>
        <circle
          cx="<%= @chart.plot_width / @chart.date_range.count * point.date.day %>"
          cy="<%= @chart.plot_height - (@chart.plot_height / @chart.max * point.amount) %>"
          data-value="<%= number_to_currency(point.amount) %>"
          r="4"
        >
          <title><%= point.date %>: <%= number_to_currency(point.amount) %></title>
        </circle>
      <% end %>
    </g>
  </svg>
</svg>