<svg version="1.2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="graph" aria-labelledby="title" role="img" height="<%= @chart.height %>" width="<%= @chart.width %>">
  <g class="labels x-labels">
    <%= @chart.x_labels.each do |label| %>
      <text
        x="<%= label.x %>"
        y="<%= label.y %>"
      >
        <%= label.text %>
      </text>
    <% end %>
  </g>
  <g class="labels y-labels">
    <%= @chart.y_labels.each do |label| %>
      <text
        text-anchor="end"
        x="<%= label.x %>"
        y="<%= label.y %>"
      >
        <%= label.text %>
      </text>
    <% end %>
  </g>
  <svg class="plot" x="<%= @chart.x_padding %>" y="<%= @chart.y_padding %>" width="<%= @chart.plot_width %>" height="<%= @chart.plot_height %>">
    <g class="grid x-grid" id="xGrid">
      <line
        x1="<%= @chart.horizontal_line.x1 %>"
        x2="<%= @chart.horizontal_line.x2 %>"
        y1="<%= @chart.horizontal_line.y1 %>"
        y2="<%= @chart.horizontal_line.y2 %>"
        stroke="<%= @chart.horizontal_line.colour %>"
      ></line>
    </g>
    <g class="grid y-grid" id="yGrid">
      <line
        x1="<%= @chart.vertical_line.x1 %>"
        x2="<%= @chart.vertical_line.x2 %>"
        y1="<%= @chart.vertical_line.y1 %>"
        y2="<%= @chart.vertical_line.y2 %>"
        stroke="<%= @chart.vertical_line.colour %>"
      ></line>
    </g>
    <g class="data" data-setname="Our first data set">
      <%= @chart.points.each do |point| %>
        <circle
          cx="<%= point.cx %>"
          cy="<%= point.cy %>"
          r="<%= point.radius %>"
        >
          <title><%= point.date %>: <%= number_to_currency(point.amount) %></title>
        </circle>
      <% end %>
    </g>
  </svg>
</svg>