<h1>Monet</h1>


<nav>
  <ul>
    <li><%= link_to "Upload Credit Card Statement", new_credit_card_statement_path %></li>
    <li><%= link_to "Transactions", transactions_path %></li>
    <li><%= link_to "Vendors", vendors_path %></li>
  </ul>
</nav>

<h2>Reports</h2>
<ul>
  <li><%= link_to "Vendor Report", reports_vendors_path %></li>
</ul>

<h2>Monthly reports</h2>
<ul>
  <% @report_year_months.each do |year, month| %>
    <li><%= link_to "%04d-%02d" % [year, month], reports_monthly_path(year: year, month: month) %></li>
  <% end %>
</ul>