<h1>Vendors Report</h1>

<%= form_with method: :get do |form| %>
  <%= form.select :sort, @sort_options, selected: @sort %>
  <%= form.submit "Sort" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Vendor</th>
      <th style="text-align:right">Transactions</th>
      <th style="text-align:right">Total</th>
    </tr>
  </thead>
  <tbody>
    <% @vendor_transactions.each do |vendor, transactions| %>
      <tr>
        <td><%= link_to vendor.name, vendor %></td>
        <td style="text-align:right"><%= transactions.size %></td>
        <td style="text-align:right"><%= number_to_currency(transactions.sum(&:debit)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>